.flex-container {
    display: flex;
}

.bg-yellow {
    background-color: yellow;
}

.bg-cyan {
    background-color: cyan;
}

.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orange;
}

.dos-tres {
    width: 20%;
    height: 25%;
}

.box-100 {
    width: 100%;
    height: 100%;
}

.box-50 {
    width: 100%;
    height: 50%;
}

.fullHeight { 
    height: 100vh;
    margin: 0 0 0 0;
 
}