

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;        
}

.flex-container-colum {
    flex-direction: column;
    flex-wrap: wrap; 
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.align-items-top {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-bottom {
    align-items: flex-end;
}

#divPrincipal {
    width: 100%;
    height: 500px;
    background-color: yellow;
}
#uno {
    background-color: cadetblue;
    width: 80%;
    height: 50%;
}

.iguales {
    width: 100%;
    height: 50%;
}

#cuatro {
    width: 20%;
    height: 50%;
}

.red-color {
    background-color: red;
}

.orange-color {
background-color: orange;
}
