body {
    background-color: lightgrey;
}

.button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    /* transition: width 2s, height 4s; */
    transform: translate(50px, 100px);
    animation-name: animanecolor;
    animation-duration: 4s;
}

.button:hover {
    width: 200px;
    height: 100px;
    transform: rotate(20deg);
}

.button-1 {
    font-size: 10px;
}

.button-2 {
    font-size: 12px;
}

.button-3 {
    font-size: 14px;
}

.button-4 {
    font-size: 16px;
}

.button-5 {
    font-size: 18px;
}

@keyframes animanecolor {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

@media screen and (max-width:800px) {
    .button {
        background-color: indianred;
    }
}

@media (min-width:801px) and (max-width:1600px) {
    .button {
        background-color: yellow;
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightpink;
    }
}