body {
    /* background-color: green; */
    /* background-color: rgba(45, 78, 59, 1); */
    /* background-image: url("../img/gato.jpg");
    background-repeat: no-repeat;
    background-position: center; */
    /* background-position: right top; */
    background: url("../img/gato.jpg") no-repeat center;

}

div {
    width: 100px;
    height: 100px;
    background-color: rgba(50, 45, 8);
    background-color: hsl(0, 6%, 65%);
    border-style: solid;
}

.div2 {
    background-color: hsl(0, 6%, 65%);
    border-style: dotted;
}

.div3 {
    background-color: red;
    border-style: dashed;
}

.div4 {
    background-color: yellow;
    border-style: ridge;
    border-width: 1em;
    border-color: rebeccapurple;
}

.div5 {
    background-color: indianred;
    border: 0.5em solid red;
}

.div6 {
    background-color: indianred;
    border: 0.5em solid red;
    border-radius: 100%;
    /* margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px; */
    margin: 50px 50px 50px 50px;
}

.div7 {
    width: 200px;
    background-color: indianred;
    border: 0.5em solid khaki;
    /* margin: 50px 50px 50px 50px; */
    padding-top: 15px;
    padding-left: 15px;
    
}

p {
    text-align: left;
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline;
    text-transform: uppercase;
    text-indent: 10px;    
    font-family: 'Oxanium';
}

ul .a {
    list-style-type: lower-alpha;
    list-style-position: inside;
}


table, th, td {
    border: 1px solid blue;
}

table {
    border-collapse: collapse;
}

tbody > tr:nth-child(even) {
 background-color: rosybrown;
}

tbody > tr:nth-child(odd) {
    background-color: rgb(135, 135, 228);

}

tr:hover {
    color: white;
    background-color: black !important;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;        
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.align-items-top {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-bottom {
    align-items: flex-end;
}


#divflex {
    width: 100%;
    height: 100%;
    background: blue;
}

#primero {
    width: 500px;
}


